# Aggregation data and grouping course level

## Tabel 1: Overall Student Statistics

In [6]:
import pandas as pd

df = pd.read_csv('data/student_combined_data.csv')

def get_range(x):
    return x.max() - x.min()

cols_to_analyze = ['performance_score', 'aptitude_score']

table1 = df[cols_to_analyze].agg(['mean', 'median', 'min', 'max', get_range])

table1.index = ['average (mean)', 'middle value (Median)', 'Lowest Score', 'High Score', 'Spread (Range)']
table1.columns = ['Performance Score', 'Aptitude Score']

print ("--- Table 1: Overall Student Statistics ---")
display (table1.round(2))

--- Table 1: Overall Student Statistics ---

                       Performance Score  Aptitude Score
average (mean)                      2.54           44.24
middle value (Median)               2.48           38.00
Lowest Score                        1.55            9.00
High Score                          3.80           97.00
Spread (Range)                      2.25           88.00

## Tabel 2: Performance Scores by Course Level

In [15]:
#Fungsi kuartil
def typical_range(x) :
    q1 = x.quantile(0.25)
    q3 = x.quantile(0.75)
    return f"{q1:.2f} - {q3:.2f}"

#grouping course level
table2 = df.groupby('course_level')['performance_score'].agg(
    Students='count',
    Average='mean',
    Lowest='min',
    Highest='max',
    Typical_Range=typical_range
)

#mengurutkan baris Advanced - Intermediate - Foundation

urutan_level =['Advanced', 'Intermediate', 'Foundation']
table2 = table2.reindex(urutan_level)

print("\n--- Table 2: Performance Scores Across Course Levels---")
display(table2.round(2))

--- Table 2: Performance Scores Across Course Levels---

              Students  Average  Lowest  Highest Typical_Range
course_level
Advanced            50     3.24    2.50     3.80   2.95 - 3.55
Intermediate        50     2.52    1.90     3.55   2.25 - 2.79
Foundation          50     1.86    1.55     2.45   1.75 - 1.95

## Mastery Percentage

In [ ]:
max_score = 4.0

table2['Mastery (%)'] = (table2['Average'] / max_score) * 100

print("\n--- insight: Mastery Levels ---")

for level, row in table2.iterrows():
    print(f"{level} students average {row['Average']:.2f} out of {max_score} ({row['Mastery (%)']:.0f}% mastery)")

--- insight: Mastery Levels ---
Advanced students average 3.24 out of 4.0 (81% mastery)
Intermediate students average 2.52 out of 4.0 (63% mastery)
Foundation students average 1.86 out of 4.0 (47% mastery)

#Aptitude by Course Level

In [20]:
table3 = df.groupby('course_level')['aptitude_score'].agg(
    Students='count',
    Average='mean',
    Lowest='min',
    Highest='max',
    Typical_Range=typical_range
)

urutan_level =['Advanced', 'Intermediate', 'Foundation']
table3 = table3.reindex(urutan_level)


display(table3.round(2))

              Students  Average  Lowest  Highest  Typical_Range
course_level
Advanced            50    67.46      30       97  50.00 - 83.00
Intermediate        50    42.74      14       90  31.00 - 53.50
Foundation          50    22.52       9       41  17.25 - 26.00

## Menghitung "Mastery Percentage"

In [21]:
max_score_apptitude = 100.00
table3['Mastery (%)'] = (table3['Average'] / max_score_apptitude) * 100

print("\n--- insight: Aptitude Mastery Levels ---")
for level, row in table3.iterrows():
    print(f"{level} students average {row['Average']:.2f} out of {max_score_apptitude} ({row['Mastery (%)']:.0f}% mastery)")

--- insight: Aptitude Mastery Levels ---
Advanced students average 67.46 out of 100.0 (67% mastery)
Intermediate students average 42.74 out of 100.0 (43% mastery)
Foundation students average 22.52 out of 100.0 (23% mastery)