# Data Screening

In [5]:
import pandas as pd

paths = [
    'data/student_aptitude_data.csv', 
    'data/student_performance_data.csv', 
    'data/student_combined_data.csv'
]

for path in paths:
    df = pd.read_csv(path)
    print(f"\n {path.split('/')[-1]} | Shape: {df.shape} | Missing: {df.isna().sum().sum()}")
    display(df.head(5))
    print("-" * 30)

 student_aptitude_data.csv | Shape: (150, 3) | Missing: 0

   student_id course_level  aptitude_score
0           1     Advanced              72
1           2     Advanced              90
2           3     Advanced              68
3           4     Advanced              84
4           5     Advanced              72

------------------------------

 student_performance_data.csv | Shape: (150, 3) | Missing: 0

   student_id course_level  performance_score
0           1     Advanced               3.70
1           2     Advanced               3.65
2           3     Advanced               3.55
3           4     Advanced               3.45
4           5     Advanced               3.55

------------------------------

 student_combined_data.csv | Shape: (150, 4) | Missing: 0

   student_id course_level  performance_score  aptitude_score
0           1     Advanced               3.70              72
1           2     Advanced               3.65              90
2           3     Advanced               3.55              68
3           4     Advanced               3.45              84
4           5     Advanced               3.55              72

------------------------------